dev/index.jade
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    title Уголкииии
  body
    div.l-wrapper
      h1.text-center.full-width.color.white.thin
        |Ты сегодня покормил кота?
      div()
        div.slip.slip--selected(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с фуа-гра
          p.slip__equip
            | 10 порций
            br
            | 1 мышь в подарок
          span.slip__weight
            span.slip__weight-text
              h2 0,5
              h4 кг
        h6.text-center.color.white
          | Печень утки разварная с артишоками

      div()
        div.slip.slip--disabled(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с курицей
          p.slip__equip
            | 40 порций
            br
            | 4 мыши в подарок
          span.slip__weight
            span.slip__weight-text
              h2 2
              h4 кг
        h6.text-center.color.white
          | Печалька, курица все еще бегает

      div()
        div.slip.slip--default(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с кактусом
          p.slip__equip
            | 100 порций
            br
            | 10 мышей в подарок
            br
            | Заказчик доволен
          span.slip__weight
            span.slip__weight-text
              h2 5
              h4 кг
        h6.text-center.color.white
          | Чего сидишь? Порадуй 
          a.default(href="#") котэ

release/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Уголкииии</title>
  </head>
  <body>
    <div class="l-wrapper">
      <h1 class="text-center full-width color white thin">Ты сегодня покормил кота?</h1>
      <div>
        <div style="background-image: url(../static/img/cat.png)" class="slip slip--selected"><span class="slip__corner-top">Сказачное заморское яство</span>
          <h1 class="slip__name">Нямушка</h1>
          <h3>с фуа-гра</h3>
          <p class="slip__equip">10 порций<br>1 мышь в подарок</p><span class="slip__weight"><span class="slip__weight-text">
              <h2>0,5</h2>
              <h4>кг</h4></span></span>
        </div>
        <h6 class="text-center color white">Печень утки разварная с артишоками</h6>
      </div>
      <div>
        <div style="background-image: url(../static/img/cat.png)" class="slip slip--disabled"><span class="slip__corner-top">Сказачное заморское яство</span>
          <h1 class="slip__name">Нямушка</h1>
          <h3>с курицей</h3>
          <p class="slip__equip">40 порций<br>4 мыши в подарок</p><span class="slip__weight"><span class="slip__weight-text">
              <h2>2</h2>
              <h4>кг</h4></span></span>
        </div>
        <h6 class="text-center color white">Печалька, курица все еще бегает</h6>
      </div>
      <div>
        <div style="background-image: url(../static/img/cat.png)" class="slip slip--default"><span class="slip__corner-top">Сказачное заморское яство</span>
          <h1 class="slip__name">Нямушка</h1>
          <h3>с кактусом</h3>
          <p class="slip__equip">100 порций<br>10 мышей в подарок<br>Заказчик доволен</p><span class="slip__weight"><span class="slip__weight-text">
              <h2>5</h2>
              <h4>кг</h4></span></span>
        </div>
        <h6 class="text-center color white">Чего сидишь? Порадуй <a href="#" class="default">котэ</a></h6>
      </div>
    </div>
  </body>
</html>
